<!DOCTYPE html>
<html lang="en">

    <%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/nav.ejs') %>
    <h3>Agregar un producto a la lista</h3>
    <div>
        <form action="/api/products/add" enctype="multipart/form-data" method="POST" class="container" style="max-width: 500px;">
            <div>
                <label for="" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>
            <div>
                <label for="" class="form-label">Description</label>
                <input type="text" name="description" class="form-control" required>
            </div>
            <div>
                <label for="" class="form-label">Price</label>
                <input type="number" name="price" class="form-control" required>
            </div>
            <div>
                <label for="" class="form-label">Stock</label>
                <input type="number" name="stock" class="form-control" required>
            </div>

            <div>
                <input type="file" name="thumbnail" required>
            </div>
            <div>
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>