<!DOCTYPE html>
<html lang="en">
<%-include('../templates/head.ejs')%>
<body>
    <%-include('../templates/nav.ejs') %>
    <h1>Producto cargado exitosamente!!</h1>
    <a href="/api/products/form" class="btn btn-primary">Cargar otro producto</a>
    <a href="/api/products/product" class="btn btn-primary">Ver los productos</a>
</body>
</html>