<!DOCTYPE html>
<html lang="en">
<%-include('../templates/head.ejs') %>
<link rel="stylesheet" href="/public/css/autenticator.css">
<body>
    <%-include('../templates/nav.ejs') %>
    <div class="body">
        <div class="box">
            <h3 class="h3">El producto no existe!!</h3>
            <h4 class="h3">Intente de nuevo.</h4>
            <a href="/" class="btn btn-primary">Aceptar</a>
        </div>
    </div>
    
</body>
</html>