<!DOCTYPE html>
<html lang="en">
    <%-include('../templates/head.ejs')%>
<body>
    <%-include('../templates/nav.ejs')%>
   
    <h1>Eliminaste el producto!</h1>
    <a href="/api/products/product" class="btn btn-primary">Ir a productos</a>
    <a href="/api/products/delete" class="btn btn-primary">Eliminar otro producto</a>
</body>
</html>