*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #2c2c2c;
}
.body .main-all-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.body .main-all-products .box{
    width: 17rem;
    margin-top: 16px;
}