
  <nav class="navbar navbar-expand-lg bg-light" style="display:flex; flex-direction:row; justify-content:space-between;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/products/product">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/products/form">Agregar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/products/findId">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/products/put">modificar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/products/delete">Eliminar</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="/api/cart/cart"><img src="/public/icon/logoCarrito.png" alt="cart" style="width:35px; margin-right: 16px;"></a>
  </nav>
